<div class="fundo">
<div class="home">
    <div class="topo">
        <div class="busca">
            <input type="text" (keyup)="onKey ($event)">
            <button (click)="pesquisar ()">pesquisar</button></div>
    </div>
    <div class="cartas-pesquisa">
        <div *ngFor="let carta of cartas"> 
            <div class="carta" *ngIf="carta.image_uris"> 
                <a href="/carta/{{carta.id}}">
                    <img src="{{carta.image_uris ? carta.image_uris.small : ''}}" alt="">  
                </a>
            </div>
        </div>
    </div>
    <div class="fundo02">
        <div class="banner">
            <img [src]="imagePath" alt="Minha Imagem">
                </div>
                    <div class="sobre-magic">
                        <p>
                            Magic: The Gathering" (MTG) é um jogo de cartas colecionáveis que foi lançado pela primeira vez em 1993 pela Wizards of the Coast. Desenvolvido por Richard Garfield, o jogo rapidamente se tornou um fenômeno global, reunindo milhões de jogadores em todo o mundo. Aqui está uma visão geral explicativa sobre o universo de Magic: The Gathering:
                        </p>
                        <br><h3> 1. Conceito Básico:</h3>

                        <p>Cartas: Magic é jogado com um baralho personalizado composto por cartas mágicas que representam criaturas, feitiços, artefatos e terras.</p>
                        <p>Objetivo: O objetivo principal do jogo é reduzir os pontos de vida do oponente de 20 para 0, usando estratégias e habilidades das cartas.</p>
                        <br><h3>2. Cores e Mana:</h3>

                        <p>Cores: As cartas em Magic estão associadas a cinco cores principais - branco, azul, preto, vermelho e verde. Cada cor tem uma identidade única e representa diferentes estilos de jogo.</p>
                        <p>Mana: Para lançar feitiços, os jogadores precisam de mana, que é produzida pelas terras. Cada cor de mana está associada a um tipo específico de terreno.</p>
                        <br><h3>3. Tipos de Cartas:</h3>

                        <p>Criaturas: Representam seres mágicos que lutam pelo jogador. Possuem força e resistência.</p>
                        <p>Feitiços: Desencadeiam efeitos específicos, variando de danos diretos a manipulação de cartas.</p>
                        <p>Artefatos: Itens mágicos que podem fornecer benefícios diversos.</p>
                        <p>Encantamentos: Efeitos contínuos que afetam o jogo de maneiras específicas.</p>
                        <p>Terras: Fornecem mana para lançar feitiços e são essenciais para o jogo.</p>
                        <br><h3>4. Estratégia e Táticas:</h3>

                        <p>Construção de Baralho: Os jogadores constroem seus baralhos escolhendo cartas de seu conjunto pessoal, criando estratégias únicas.</p>
                        <p>Fases do Jogo: Cada turno é dividido em várias fases, incluindo a fase de manutenção, de compra, de combate e de feitiços.</p>
                        <br><h3>5. Torneios e Comunidade:</h3>

                        <p>Formatos: Magic possui diferentes formatos de jogo, desde partidas casuais até torneios competitivos.</p>
                        <p>Expansões: Novas cartas são lançadas regularmente através de expansões, expandindo o universo do jogo.</p>
                        <p>Comunidade: Magic tem uma comunidade global ativa, com eventos regulares, convenções e competições em todo o mundo.</p>
                        <br><h3>6. Aspectos Narrativos:</h3>

                        <p>História: Magic possui uma rica história multiversal, com personagens, planos e eventos interligados.</p>
                        <p>Ilustrações: Cada carta é habilmente ilustrada, contribuindo para a narrativa visual do jogo.</p>
                        <p>Em resumo, Magic: The Gathering é muito mais do que um simples jogo de cartas; é uma experiência estratégica, criativa e social que continua a cativar jogadores de todas as idades ao redor do globo. Com sua complexidade estratégica, variedade de cartas e aprofundamento narrativo, Magic oferece uma jornada única em cada partida.</p>
                    </div>
                </div>
        </div>
</div>